<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Activities</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
	<div class="login-box">
        <h1>Here are your activities, <%- name %>:</h1>
        <hr>
		<%- activities %>

        <form action="/">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <input type="submit" value="Back" >
              </a>
        </form>
	</div>
</body>

</html>