<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Activities</title>
</head>

<body>
	<h1>Here are your activities, <%- name %>:</h1>
	<div>
		<%- activities %>
	</div>
</body>

</html>