<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Application</title>
</head>

<body>
	<h1>Application</h1>
	<form action="/apply" method="post" onsubmit=validate(this)>
		<fieldset>
			<label><strong>Name: </strong><input type="text" name="name"/></label>
			<label><strong>Email Address: </strong><input type="email" name="email"></label>

			<br><br>

			<label><strong>GPA:</strong> <input type="text" name="gpa"/></label>

			<br><br>

			<label><strong>Background Information:</strong><br><textarea rows="5" cols="80" name="backgroundInformation"></textarea></label>
		</fieldset>

		<br>
		<input type="reset" />
		<input type="submit" value="Submit Application"/>
	</form>

	<hr>
	<a href="/">HOME</a>
</body>

<script>
	function validate(form) {
		alert("Are you sure you want to submit you application? \n You will not be able to change your information once submitted.");
	}
 </script>

</html>
