<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Result</title>
</head>

<body>
	<h1>Removing All Applicants</h1>

    <%- remove %>

	<a href="/">HOME</a>
</body>

<script>
	function validate(form) {
		alert("Are you sure you want to remove all applications?");
	}
 </script>

</html>
